/* =========================
   COLORES GENERALES
========================= */

$primary-blue: #4285f4;
$text-main: #3c4043;
$text-dark: #333;
$text-light: #777;
$gray-light: #f8f9fa;

/* =========================
   BACKGROUNDS
========================= */

$header-bg: #ffffff;
$footer-bg: #ffffff;
$search-bg: #f1f3f4;
$bg-light: #f9f9f9;
$bg-filter: #ffffff;
$background-dark: #695959;

/* =========================
   BORDES
========================= */

$border-light: #e0e0e0;
$border-soft: #eeeeee;

/* =========================
   ICONOS Y LINKS
========================= */

$icon-color: #5f6368;
$footer-text-title: #333;
$footer-text-link: #666;
$text-filter: #666;